<p>java-script works!</p>
<button (click)="yo()">click me</button>
<div *ngFor="let item of a">
    {{item}} 
</div>
<div>{{sum}}</div> 
<button type="button" (click)="convertToBinary()">click for convert</button>
<div>
    {{str}}
</div>
<button type="button" (click)="convertToBinary1()">click for convert</button>
<div>
    {{str1}}
</div>
<button type="button" (click)="convertToBinary2()">click for convert</button>
<div>
    {{str2}}
</div>
<!-- <button type="button" (click)="proxy()">click for convert</button>
<div>
    {{str3}}
</div> -->
